h1 {
    text-align: center;
    color: purple;
}

<!--h2 {
    color: pink;
}

<!--h3 {
    color: blue;
}

img {
    box-shadow: 10px 10px 5px grey;
}

<!--section {
    background-color: lightblue;
}

p {
    font-size: 20px;
}

ul {
    border: 2px solid black;
}